/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}
nav a {
	text-decoration: none;
	color: black;
}
li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.filters {
	display: flex;
	justify-content: center;
	gap: 15px;
	padding: 20px 0px 45px 0px;
}
.filters > * {
	border-radius: 50px;
	border: 1px solid #1D6154;
	padding: 8px 20px;
	background: none;
	color: #1D6154;
	font-weight: 700;
}
.filters > *:hover {
	background-color: #1D6154;
	color: #FFFEF8;
	cursor: pointer;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*******************************Login********************************/

/*header*/
*{
		box-sizing: border-box;	  
}

body{
	width: 100%;
	background-color:#FFFEF8;
}

h1 span {
	margin-top: 9px;
}

nav{
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 150px;
}

nav .log{
		font-weight: 600;
}
.insta{
	width: 20px;
}

/*form*/

form {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: auto;
}
.p1 {
    display: flex;
    justify-content: center;
    color: red;
    margin: 30px;
    font-size: larger;
    opacity: 0;
    transform: scale(0.5);
    animation: popAndVibrate 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes popAndVibrate {
    0% {
        opacity: 0;
        transform: scale(0.5) translate(0, 0);
    }
    50% {
        opacity: 1;
        transform: scale(1.2) translate(0, 0);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate(0, 0);
    }
}

@keyframes vibrate {
    25% {
        transform: scale(1.1) translate(-2px, -2px);
    }
    50% {
        transform: scale(1.1) translate(2px, 2px);
    }
    75% {
        transform: scale(1.1) translate(-2px, -2px);
    }
    100% {
        transform: scale(1.1) translate(2px, 2px);
    }
}

h2 {
	margin: auto;
	width: fit-content;
	margin-bottom: 30px;
}
input {
	font-family: "Syne";
    background-color: white;
    width: 350px;
    height: 48px;
    margin: 1em auto;
    text-align: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    transition: 0.7s;
    border: none;
}
.mdp{
	display: flex;
	justify-content: center;
	color: black;
	text-align: center;
}

/*footer*/

footer p {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
    height: 10vh;
}

/**** Modal 1****/

.containerModals {
	display: none;
	justify-content: center;
	align-items: center; 
	position: fixed;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	flex-direction: column;
	top: 0;
	right: 0;
  }

  .containerModals .modalWorks {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	width: 40%;
	height: 90%;
	border-radius: 10px;
	position: relative;
  }
  
  .containerModals h2 {
	margin-top: 70px;
	text-align: center;

  }
  .fa-pen-square{
	display: none;
  }
  .fa-xmark{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: x-large;
  }
  .containerModals .ajout {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin-top: 40px;
	margin-bottom: 30px;
	width: 300px;
	height: 40px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
  }
  .containerModals .ligne {
	width: 500px;
	border-bottom: 1px solid black;
	margin-top: 100px;
  }
  .containerModals .workModal{
	display: flex;
	flex-direction: row;
	justify-content: left;
	flex-wrap: wrap;
	padding-left: 17%;
	padding-right: 10%;
}
.modalWorks img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.workModal figure {
	display: flex;
	flex-direction: row;
	width: 90px;
	margin-top: 30px;
	margin-right: 15px;
	position: relative;
}
.workModal .fa-trash-can {
	display: flex;
	justify-content: center;
	position: fixed;
	margin-left: 70px;
	margin-top: 5px;
	cursor: pointer;
}
  
.admin {
    display: flex;
	flex-direction: row;
	gap: 12px;
	text-decoration: none;
	color: black;
} 

/* Bouton modifier */

.projetModif{
	display: flex;
	flex-direction: column;
	margin-top: 100px;
}

.projetModif .modifier {
	display: none;
	justify-content: center;
	flex-direction: row;
	margin-left: 350px;
	margin-top: -50px;
	margin-bottom: 70px;
	gap: 10px;
	text-decoration: none;
	color: black;
}

/* modal ajout photo */

.modalAddWork{
	display: none;
	flex-direction: column;
	align-items: center;
	background-color: white;
	width: 40%;
	height: 90%;
	border-radius: 10px;
	position: absolute;
}
.modalAddWork .fa-arrow-left{
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
	font-size: x-large;
}
.addPicture {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E8F1F6;
	border-radius: 5px;
	padding: 20px;
	width: 500px;
	height: 220px;
}
.addPicture label{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}
.addPicture input{
	display: flex;
}
.fa-image{
	font-size: 80px;
	color: lightgray;
}
.addPicture .btnAjout {
	display: flex;
	align-items: center;
	padding: 8px;
	background-color: lightgray;
	color: rgb(37, 106, 129);
	font-size: medium;
	font-weight: 400;
	width: 180px;
	height: 35px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}
.addPicture p {
	margin-top: 10px;
	margin-bottom: 15px;
}
.contentInput{
	display: flex;
	flex-direction: column;
}
.contentInput input{
	width: 100%;
	position: relative;
}
.contentInput #categories {
	width: 100%;
	border: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); 
	padding: 20px;
	margin-top: 20px;
}
.modalAddWork .ajout {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: grey;
	border: none;
	margin-top: 40px;
	margin-bottom: 30px;
	width: 300px;
	height: 40px;
	border-radius: 60px ;
	cursor: pointer;
	margin-left: 100px;
}
.modalAddWork label{
 margin-top: 20px;
}